.taskList {
  width: 70%;
  margin: 10px auto;
  height: 64%;
  overflow: auto;
}

.task {
  position: relative;
  margin: 35px 40px -20px 40px;
  height: 35px;
  padding: 5px;
  border-radius: 10px;
  color: black;
  overflow: visible;
}

.deleteTask,
.editTask {
  display: inline-block;
  position: absolute;
  right: 10px;
  width: 20px;
  cursor: pointer;
  color: black;
}

.editTask {
  right: 40px;
}

.completeTask {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 6px;
  width: 20px;
  cursor: pointer;
  color: black;
}

.taskText {
  display: inline-block;
  position: absolute;
  left: 25px;
  overflow: hidden;
  width: 83%;
}
