.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
  position: relative;
  top: 20px;
  display: block;
  overflow: auto;
  background-color: rgba(57, 147, 147, 0.192);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.588);
  color: rgb(218, 220, 222);
  margin: auto;
  width: 60%;
  border-radius: 10px;
  height: 94%;
}
